# rpc urls
T1_L2_RPC="https://rpc.v006.t1protocol.com"
T1_L1_RPC=""

# chain IDs
T1_L2_CHAIN_ID="299792"
T1_L1_CHAIN_ID="11155111"

# deployer keys
L1_DEPLOYER_PRIVATE_KEY=""
L2_DEPLOYER_PRIVATE_KEY=""

# etherscan api key for sepolia verification
ETHERSCAN_API_KEY=""
BLOCKSCOUT_API_URL="https://explorer.v006.t1protocol.com/api"

# t1 messenger addresses
L1_T1_MESSENGER_PROXY_ADDR="0xAFdF5cb097D6FB2EB8B1FFbAB180e667458e18F4"
L2_T1_MESSENGER_PROXY_ADDR="0x627B3692969b7330b8Faed2A8836A41EB4aC1918"

# chainlink specific parameters
CHAINLINK_L1_ROUTER_ADDR="0xb83E47C2bC239B3bf370bc41e1459A34b41238D0"
CHAINLINK_DON_ID="0x66756e2d657468657265756d2d7365706f6c69612d3100000000000000000000"
CHAINLINK_SUBSCRIPTION_ID=""
# ---------------------------------------------------------
# BEGIN output from DeployL1Consumer
# ---------------------------------------------------------
# L1_CONSUMER_ADDR=0xE2ce8438c91B51CddEa19030910978580AEd3230
# ---------------------------------------------------------
# END output from DeployL1Consumer
# ---------------------------------------------------------
# ---------------------------------------------------------
# BEGIN output from DeployL2Consumer
# ---------------------------------------------------------
# L2_CONSUMER_ADDR=0x6977f8Cf9C6c4bD4Ac2b49C32D4ff136200B2655
# ---------------------------------------------------------
# END output from DeployL2Consumer
# ---------------------------------------------------------
